<% form_for :asset, @asset, :url => assets_path, :html => {:multipart => true, :id => 'convert_form', :class=>'wufoo'} do |f| %>
  <% if flash[:message] %>
    <div class="info">
      <div><%= flash[:message] %></div>
    </div>
  <% else %>
    <div class="info">
      <div>
        <%= @text %>
      </div>
    </div>
  <% end %>
  
  <ul>
    <li>
      <label class="desc"><%= @ext.capitalize %> file:</label>
      <div>
        <%= custom_file_field('conversion[uploaded_data]') %>
        <label>Please, specify <%= @ext.upcase %> file to convert</label>
      </div>
    </li>
    <center>
      <li class="buttons">
        <%= f.submit 'Process', :class => 'btTxt' %>        
      </li>
    </center>
  </ul>

  <div class="info">
    <div >
      
    </div>
  </div>
  <small><p style="text-align: right;">Sponsored links</p></small>
  <center>
  <script type="text/javascript"><!--
      google_ad_client = "pub-9355092926460482";
      /* 200x90, created 4/27/09 */
      google_ad_slot = "4092521003";
      google_ad_width = 200;
      google_ad_height = 90;
      //-->
  </script>
  <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
  </center>
  

<% end %>