<br>
<center>
  <b><%= @asset.filename %></b> <small>(<%= @asset.size %> bytes)</small>
</center>

<ul style="list-style-type: none;">
  <li><%= link_to doc_filename(@asset), convert_asset_path(@asset, :format=>:doc), :method => :post %></li>
  <li><%= link_to pdf_filename(@asset), convert_asset_path(@asset, :format=>:pdf), :method => :post %></li>
  <li><%= link_to odt_filename(@asset), convert_asset_path(@asset, :format=>:odt), :method => :post %></li>
  <li><%= link_to txt_filename(@asset), convert_asset_path(@asset, :format=>:txt), :method => :post %></li>
</ul>
<br>

<div id="ads">
</div>