<% content_for :sub_menu do %>
  
<% end %>

<table width="100%" class="grid">
  <tr>
    <th>Name</th>
    <th>To</th>
    
    <th>Spent</th>
    <th>Ex</th>
    
    <th>&nbsp;</th>
  </tr>
  
  <% @conversions.each do |conversion| %>
    <tr class="<%= cycle('odd', 'even')  %>" >
      <td align=right><%= conversion.asset.filename[0..30] %></td>
      <td><%= conversion.to %></td>
      
      <td><%= conversion.spent %> sec</td>
      <td><%= conversion.conv_exceptions[0].message unless conversion.conv_exceptions.empty? %></td>
      
      <td><%= link_to 'download', asset_path(conversion.asset) %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate(@conversions) %>