<% content_for :sub_menu do %>
  
<% end %>

<table width="100%" class="grid">
  <tr>
    <th>Name</th>
    <th>IP Address</th>
    <th>Spent</th>
    <th>Ex</th>
    
    <th>&nbsp;</th>
  </tr>
  
  <% @conversions.each do |conversion| %>
    <tr class="<%= cycle('odd', 'even')  %>" >
      <td align=right><%= conversion.filename[0..30] %></td>
      <td><%= conversion.ip_address %></td>
      <td><%= conversion.spent %> sec</td>
      <td><%= conversion.exception %></td>
      
      <td><%= link_to 'download', admin_conversion_path(conversion.id) %></td>
    </tr>
  <% end %>
</table>